/*
 * Copyright (c) 2020 Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f407Xg.dtsi>
#include <st/f4/stm32f407z(e-g)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/memory-controller/stm32-fmc-nor-psram.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "rt_spark board";
	compatible = "ruiside,rt-spark";

	soc {
		fmc: memory-controller@a0000000 {
			compatible = "st,stm32-fmc";
			reg = <0xa0000000 0x400>;
			clocks = <&rcc STM32_CLOCK(AHB3, 0U)>;
			// status = "disabled";

			// sdram: sdram {
				//     compatible = "st,stm32-fmc-sdram";
				//     #address-cells = <1>;
				//     #size-cells = <0>;
				//     status = "disabled";
			// };
			pinctrl-0 = <&fsmc_d0_pd14 &fsmc_d1_pd15 &fsmc_d2_pd0 &fsmc_d3_pd1 &fsmc_d4_pe7 &fsmc_d5_pe8
			&fsmc_d6_pe9 &fsmc_d7_pe10 &fsmc_a18_pd13
			&fsmc_noe_pd4 &fsmc_nwe_pd5 &fsmc_ne3_pg10>;
			pinctrl-names = "default";
			status = "okay";
			sram {
				compatible = "st,stm32-fmc-nor-psram";

				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				bank@0 {
					reg = <0x0>;
					st,control = <STM32_FMC_DATA_ADDRESS_MUX_DISABLE
					STM32_FMC_MEMORY_TYPE_SRAM
					STM32_FMC_NORSRAM_MEM_BUS_WIDTH_8
					STM32_FMC_BURST_ACCESS_MODE_DISABLE
					STM32_FMC_WAIT_SIGNAL_POLARITY_LOW
					STM32_FMC_WAIT_TIMING_BEFORE_WS
					STM32_FMC_WRITE_OPERATION_ENABLE
					STM32_FMC_WAIT_SIGNAL_DISABLE
					STM32_FMC_EXTENDED_MODE_DISABLE
					STM32_FMC_ASYNCHRONOUS_WAIT_DISABLE
					STM32_FMC_WRITE_BURST_DISABLE
					STM32_FMC_CONTINUOUS_CLOCK_SYNC_ONLY
					STM32_FMC_WRITE_FIFO_DISABLE
					STM32_FMC_PAGE_SIZE_NONE>;
					st,timing = <1 1 32 0 2 2 STM32_FMC_ACCESS_MODE_A>;
					status = "okay";
					fmc-mipi-dbi {
						compatible = "st,stm32-fmc-mipi-dbi";
						reset-gpios = <&gpiod 3 GPIO_ACTIVE_LOW>;
						power-gpios = <&gpiof 9 GPIO_ACTIVE_HIGH>;
						register-select-pin = <18>;
						#address-cells = <1>;
						#size-cells = <0>;
						status = "okay";
						st7789v: lcd-panel@0 {
							status = "okay";
							compatible = "sitronix,st7789v";
							reg = <0>;
							mipi-mode = "MIPI_DBI_MODE_8080_BUS_8_BIT";
							/* A write cycle should be 68ns */
							mipi-max-frequency = <14705882>;
							width = <240>;
							height = <240>;
							x-offset = <0>;
							y-offset = <0>;
							vcom = <0x1F>;
							gctrl = <0x35>;
							vdvs = <0x20>;
							mdac = <0x00>;
							gamma = <0x01>;
							colmod = <0x05>;
							lcm = <0x2c>;
							porch-param = [ 0c 0c 00 33 33  ];
							cmd2en-param = [ 5a 69 02 00  ];
							pwctrl1-param = [ a4 a1  ];
							pvgam-param = [ D0 08 11 08 0C 15 39 33 50 36 13 14 29 2D  ];
							nvgam-param = [ D0 08 10 08 06 06 39 44 51 0B 16 14 2F 31  ];
							ram-param = [ 00 F0  ];
							rgb-param = [ 40 02 14  ];
						};
					};
				};
			};
		};
	};
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
		zephyr,display = &st7789v;
		// zephyr,canbus = &can2;
	};

	leds {
		compatible = "gpio-leds";

		red_led: led_1 {
			gpios = <&gpiof 12 GPIO_ACTIVE_LOW>;
			label = "User LD1";
		};

		blue_led: led_2 {
			gpios = <&gpiof 11 GPIO_ACTIVE_LOW>;
			label = "User LD2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_button_0: K0 {
			label = "Key K0";
			gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};

		user_button_1: K1 {
			label = "Key K1";
			gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_1>;
		};

		user_button_UP: K_UP {
			label = "Key WK_UP";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_UP>;
		};
	};

	aliases {
		led0 = &red_led;
		led1 = &blue_led;
		sw0 = &user_button_UP;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};


&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa0>;
		pinctrl-names = "default";
	};
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
	         <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
	pinctrl-names = "default";
	status = "disabled";
};

&can2 {
	pinctrl-0 = <&can2_rx_pb12 &can2_tx_pb13>;
	pinctrl-names = "default";
	status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pc2 &spi2_mosi_pc3>;
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	status = "okay";

	w25q64_spi: spi-nor-flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		size = <DT_SIZE_M(64)>; /* 64 Mbits */
		status = "okay";
		jedec-id = [ef 40 17];
		has-dpd;
		t-enter-dpd = <3500>;
		t-exit-dpd = <3500>;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			storage_partition: partition@0 {
				label = "storage";
				reg = <0x00000000 DT_SIZE_M(8)>;
			};
		};
	};
};